# Ignorar dependencias y archivos temporales
node_modules/
elijohoy-fronted/node_modules/
elijohoy-backend/node_modules/
*.pyc
__pycache__/
logs/
.DS_Store
.vscode/
.idea/
*.log

# Ignorar archivos .env EXCEPTO .env.production
.env
.env.local
.env.*.local
elijohoy-backend/.env

# Permitir .env.production
!.env.production

